/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--VeryDarkBlue);
        position: relative;
        min-height: 100vh;
   
}
:root{

    
    --fontFamily:'Inter';
    /* Colors 
    Primary */
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

    /*Toggle */

    --ToggleDarkTheme: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --ToggleLightTheme :hsl(230, 22%, 74%);

    /* Neutral
    Dark Theme*/
    /*(BG)*/
   

    /*Light Theme*/
    /*(BG)*/
    
    --White: hsl(0, 0%, 100%);
    /*(Top BG Pattern)*/
    --boxPpalBG : hsl(225, 100%, 98%);
    /*(Card BG)*/
    --cardBGColor : hsl(227, 47%, 96%);
    --cardBGColorHover:hsl(227, 47%, 85%);
    /* (Text)*/
    --textBlue: hsl(228, 12%, 44%);
    /* (Text)*/
    --textWhite: hsl(230, 17%, 14%);
    font-family: var(--fontFamily);
}

.faceBook{
    background-color: var(--Facebook);
}
.instagram{
    background: var(--Instagram);
}
.youTube{
    background-color: var(--YouTube);    
}
.twitter{
    background-color: var(--Twitter);
}
.green{
    color: var(--LimeGreen);
}
.red{
    color: var(--BrightRed);
}